## Class Practise & Selenium Assignment

In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.12.0 outcome-1.1.0 selenium-4.1.0 trio-0.19.0 trio-websocket-0.9.2 wsproto-1.0.0

### Requird Libraries

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### Connect to web driver

In [29]:
driver=webdriver.Chrome(r'C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe')

# Selenium Assignment

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [30]:
url='https://www.naukri.com/'
driver.get(url)

In [31]:
search_job=driver.find_element_by_id("qsb-keyskill-sugg")
search_job

In [32]:
search_job.send_keys("Data Analyst")

In [34]:
search_locn=driver.find_element_by_xpath('/html/body/div[2]/div/div/span/div/div/div/div[1]/div/div/div[2]/div[1]/form/div[3]/div/div/div/div[1]/div/input')
search_locn

In [35]:
search_locn.send_keys('Bangalore')

In [37]:
search_btn=driver.find_element_by_xpath('/html/body/div[2]/div/div/span/div/div/div/div[1]/div/div/div[2]/div[1]/form/button')
search_btn

In [38]:
search_btn.click()

#### Job Title

In [43]:
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_title)
job_title[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="105e3b56-1211-40c4-8178-b01aaf14d0c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="34af23ca-7d97-4976-8710-e6d87570c482")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="3def0d75-dcf1-42cf-bfb0-8543f4e1f5d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="cf27d339-6fc8-428b-a3a5-f9712f4d5937")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="c55a529a-46e5-4e31-8062-4dc09c71208e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="f85cabd6-29b4-4a42-8022-1e5e17cb8bf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="b8d0f87b-8364-4ba4-82bb-1c99a14223bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="866da10e-9d4a-4c53-bc10-53032cbff479")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="d94223b7-0b98-486f-be29-46169c02ea82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="32e248f1-e2f5-4520-abbb-0763a6b7cbe5")>]

In [44]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Senior Data Analyst - CRM',
 'Senior Data Analyst - CRM',
 'Market Data Analyst',
 'Client Data Conversion Analyst',
 'Senior Data Migration Analyst',
 'Operations Data Analyst - Hiring For MNC - Upto 5 LPA -',
 'Data Analyst - SQL/Python',
 'Client Data Conversion Analyst',
 'Data Analyst - CRM Platform',
 'Hiring Data Analyst For Global Logic-Immediate Joiner']

#### Company Name

In [47]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="cfa37001-6430-4543-af9d-fba90b2f668c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="3b53e358-e20a-4b5a-8ef9-5bad6e1f9d71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="77aa4bd5-0d56-41ad-91a1-7526e1419d5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="47299b97-3c67-40d8-bd07-6e30f2766437")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="3a8abda7-f7e9-4bcb-843b-d42e373f3277")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="e9d0318c-dd3f-4a3f-beb9-6014e34494b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="6fc41ec1-20f0-4136-aebc-ad5937c09d1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="1a52541b-8862-47c6-88f9-c7e35e26d4c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="d1258ae2-7abf-4d31-ac26-bf1e309d3ac9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fcb0526974607d8c35da1ec859d5ceca", element="bfd1fadd-5fdc-4db2-902b-6b1368f655b3")>]

In [48]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)
len(company_name)
company_name[0:10]

['Gojek Tech',
 'GO-JEK India',
 'Kaplan',
 'American Express Global Business Travel',
 'Q2ebanking',
 'Universal Manpower Online',
 'TalentStack',
 'GBT India Private Limited',
 'Artech infosystem',
 'GlobalLogic']

#### Experience

In [55]:
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(experience_tags)

20

In [59]:
experience=[]
for i in experience_tags:
    experience.append(i.text)
len(experience)
experience[0:10]

['2-5 Yrs',
 '4-8 Yrs',
 '2-3 Yrs',
 '1-5 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '1-6 Yrs',
 '4-8 Yrs']

#### Location

In [60]:
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [62]:
location=[]
for i in location_tags:
    location.append(i.text)
len(location)
location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)']

In [63]:
len(job_titles),len(company_name),len(experience),len(location)

(20, 20, 20, 20)

In [68]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company Name']=company_name
jobs['Experince']=experience
jobs['Location']=location
jobs[0:10]

,Job Title,Company Name,Experince,Location
0,Senior Data Analyst - CRM,Gojek Tech,2-5 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst - CRM,GO-JEK India,4-8 Yrs,Bangalore/Bengaluru
2,Market Data Analyst,Kaplan,2-3 Yrs,Bangalore/Bengaluru
3,Client Data Conversion Analyst,American Express Global Business Travel,1-5 Yrs,Bangalore/Bengaluru
4,Senior Data Migration Analyst,Q2ebanking,3-7 Yrs,Bangalore/Bengaluru
5,Operations Data Analyst - Hiring For MNC - Upt...,Universal Manpower Online,2-7 Yrs,Bangalore/Bengaluru
6,Data Analyst - SQL/Python,TalentStack,2-5 Yrs,Bangalore/Bengaluru
7,Client Data Conversion Analyst,GBT India Private Limited,3-6 Yrs,Bangalore/Bengaluru
8,Data Analyst - CRM Platform,Artech infosystem,1-6 Yrs,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
9,Hiring Data Analyst For Global Logic-Immediate...,GlobalLogic,4-8 Yrs,"Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalo..."

#### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [71]:
driver=webdriver.Chrome(r'C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe')

In [72]:
url='https://www.naukri.com/'
driver.get(url)

In [73]:
search_job=driver.find_element_by_id("qsb-keyskill-sugg")
search_job

In [74]:
search_job.send_keys("Data Scientist")

In [76]:
search_locn=driver.find_element_by_xpath('/html/body/div[2]/div/div/span/div/div/div/div[1]/div/div/div[2]/div[1]/form/div[3]/div/div/div/div[1]/div/input')
search_locn

In [77]:
search_locn.send_keys('Bangalore')

In [78]:
search_btn=driver.find_element_by_xpath('/html/body/div[2]/div/div/span/div/div/div/div[1]/div/div/div[2]/div[1]/form/button')
search_btn

In [79]:
search_btn.click()

#### Job Title

In [80]:
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_title)
job_title[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="842be6d6-5799-4572-a520-82aabaac6b60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="6b3952f9-0aa0-41d8-a873-246d833e8e32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="7e216443-aaed-4852-ac2f-3bb59dc62573")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="3faab904-1176-46b9-bc57-2a1d9f5e62e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="975edab8-50f8-458d-a433-4fa96a3794c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="773ac9e2-7364-4e14-835b-c90352ed49cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="686450b0-dd1b-431d-8e8e-101cad82bdeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="d567b9c6-7dfa-4467-9693-3690f22194bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="53bea29a-c8bb-439a-90ce-0a900018f8fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="a1adaf84-6a1f-4987-a511-fdc503586269")>]

In [81]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Sr . Data Scientist',
 'Senior Data Scientist - Logistics',
 'Data Scientist For a Leading TV channel -OTT',
 'Sr. Data Scientist',
 'Data Scientist @ Bangalore',
 'Academic Counsellor- Data Scientist',
 'Senior Data Scientist',
 'Job opening with Wipro For Data Scientist',
 'Openings For Jr/mid/Sr level data Scientists',
 'Data Scientist']

#### Location

In [84]:
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [85]:
location=[]
for i in location_tags:
    location.append(i.text)
len(location)
location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Pune, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru']

#### Company Name

In [86]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="6afbef21-1d81-4bef-bdd4-df42f8a1a5bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="ba11ef20-987e-4086-8c3f-670999a64848")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="63db9c85-cf2b-41d5-9d12-96480aad1273")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="a860513b-8a5e-4b9c-94b2-e0c22465e462")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="0a806783-124e-4c11-b040-afb3c5005df1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="8c61bf50-ca27-422f-8c49-7028c4f97cb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="676ee5d6-f56a-4b29-bd90-a74b93dbed31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="0ec66dc5-2e8a-4a46-bd51-9fcd5e357898")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="f273d095-1f7d-4693-a83a-e8e7e2bbd55d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f95bace0350928d11e27d858fb00215e", element="0e7b1e2c-4593-484a-83e9-95ad772ff87a")>]

In [87]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)
len(company_name)
company_name[0:10]

['Harman Connected Services Corporation India Pvt.',
 'Gojek Tech',
 'Futurestep Recruitment Services Private Limited',
 'NutaNXT Technologies',
 'Fujitsu',
 'AcadsHR',
 'Greenizon Agritech Consultancy',
 'Wipro',
 'Pluto seven business solutions (p) limited',
 'Country Veggie']

In [88]:
len(job_titles),len(company_name),len(location)

(20, 20, 20)

In [89]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company Name']=company_name
jobs['Location']=location
jobs[0:10]

,Job Title,Company Name,Location
0,Sr . Data Scientist,Harman Connected Services Corporation India Pvt.,Bangalore/Bengaluru
1,Senior Data Scientist - Logistics,Gojek Tech,Bangalore/Bengaluru
2,Data Scientist For a Leading TV channel -OTT,Futurestep Recruitment Services Private Limited,Bangalore/Bengaluru
3,Sr. Data Scientist,NutaNXT Technologies,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)\..."
4,Data Scientist @ Bangalore,Fujitsu,"Pune, Bangalore/Bengaluru"
5,Academic Counsellor- Data Scientist,AcadsHR,"Mumbai, Hyderabad/Secunderabad, Chennai, Gurga..."
6,Senior Data Scientist,Greenizon Agritech Consultancy,Bangalore/Bengaluru
7,Job opening with Wipro For Data Scientist,Wipro,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
8,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
9,Data Scientist,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu..."

#### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [90]:
driver=webdriver.Chrome(r'C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe')

In [91]:
url='https://www.naukri.com/'
driver.get(url)

In [92]:
search_job=driver.find_element_by_id("qsb-keyskill-sugg")
search_job

In [93]:
search_job.send_keys("Data Scientist")

In [94]:
search_locn=driver.find_element_by_xpath('/html/body/div[2]/div/div/span/div/div/div/div[1]/div/div/div[2]/div[1]/form/div[3]/div/div/div/div[1]/div/input')
search_locn

In [95]:
search_locn.send_keys('Delhi/NCR')

In [96]:
search_btn=driver.find_element_by_xpath('/html/body/div[2]/div/div/span/div/div/div/div[1]/div/div/div[2]/div[1]/form/button')
search_btn

In [97]:
search_btn.click()

#### Salary check

In [104]:
salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_check.click()

#### Location Check- Delhi/NCR

In [105]:
location_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i')
location_check.click()

#### Job Title

In [143]:
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_title)
job_title[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="011bc9a7-5b50-4a27-ac0c-2425f0aa6197")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="2dcff343-7b5a-4b0f-a6f6-795708964bf9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="308732cd-25d3-4698-8540-ffad23cbbafd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="2f37998f-828f-424e-be93-2bf14f15cc2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="83f9080c-2ab8-416c-bffd-5eccafea2c12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="3a0020c7-e656-44fc-8f52-d40f32b0ab85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="c2f42e00-5290-4fd2-8c83-3091621f838d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="e07307c4-81a1-4f00-b57d-80a7d18cf79a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="0ff90b8f-3132-4598-881e-6b350ceebc2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="6e70da7d-c726-422e-8528-ec5efc70a013")>]

In [144]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Openings For Jr/mid/Sr level data Scientists',
 'Data Scientist',
 'Data Scientist / Senior DS/ Team Lead',
 'Associate Data Scientist',
 'Data Scientist Internship',
 'Senior Data Scientist',
 'Data Scientist role',
 'Data Scientist',
 'data scientist - biotechnology Jobs']

#### Location

In [158]:
location_tags=driver.find_elements_by_xpath('//i[@class="fleft icon-16 lh16 mr-4 naukicon naukicon-location"]')
len(location_tags)

20

In [154]:
location=[]
for i in location_tags:
    location.append(i.text)
len(location)

20

In [159]:
location[0:10]

['', '', '', '', '', '', '', '', '', '']

#### Comapny Name

In [161]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="b0306569-caed-49c9-a8f5-aed8f2bb2797")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="5245defa-041a-4d9a-86e2-ec7bd67a8e01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="92b8e918-0718-4e66-9058-6c833fea8897")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="fc0ea455-6f10-4137-9852-ae2fd7310208")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="d4730093-f475-437a-8544-617ddfc5ec6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="39967c8e-82ff-4ebc-8dd0-b0004df4e663")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="35b1264f-df45-4a2d-97d9-bc43e46cde43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="164a53ca-db92-44bd-b128-fcdfe43cde76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="79b59ee6-3d8e-4411-befb-1dff1e266497")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ce512e1e0ecb84f2a015a0b39c4f6f6", element="914ac3b7-366a-4904-946c-e05b90369de9")>]

In [162]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)
len(company_name)
company_name[0:10]

['Schlesinger Group',
 'Pluto seven business solutions (p) limited',
 'Country Veggie',
 'NebulARC Technologies Private Limited',
 'Blow Trumpet Solutions',
 'iHackers Inc',
 'iNICU',
 'Mount Talent Consulting Private Limited',
 'BlackBuck',
 'Right Step Consulting']

#### Experience

In [176]:
experience_tags=driver.find_elements_by_xpath('//i[@class="fleft icon-16 lh16 mr-4 naukicon naukicon-experience"]')
len(experience_tags)

20

In [177]:
experience=[]
for i in experience_tags:
    experience.append(i.text)
len(experience)
experience[0:10]

['', '', '', '', '', '', '', '', '', '']

In [178]:
len(job_titles),len(company_name),len(location),len(experience)

(20, 20, 20, 20)

In [180]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company Name']=company_name
jobs['Experience']=experience
jobs['Location']=location
jobs[0:10]

,Job Title,Company Name,Experience,Location
0,Data Scientist | Python | Machine Learning | D...,Schlesinger Group,,
1,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,,
2,Data Scientist,Country Veggie,,
3,Data Scientist / Senior DS/ Team Lead,NebulARC Technologies Private Limited,,
4,Associate Data Scientist,Blow Trumpet Solutions,,
5,Data Scientist Internship,iHackers Inc,,
6,Senior Data Scientist,iNICU,,
7,Data Scientist role,Mount Talent Consulting Private Limited,,
8,Data Scientist,BlackBuck,,
9,data scientist - biotechnology Jobs,Right Step Consulting,,

### In above question I tried many classes but it is not giving proper output for experience and location

#### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [181]:
driver=webdriver.Chrome(r'C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe')

In [182]:
url='https://www.flipkart.com/'
driver.get(url)

In [ ]:
search=driver.find_element_by_id("")
search

#### No id given

In [224]:
search_tags=driver.find_elements_by_xpath('//input[@class="_3704LK"]')
search

In [225]:
search_tags.send_keys("sunglasses")

AttributeError: 'list' object has no attribute 'send_keys'

#### Hence added sunglasses word in flipkart manually

In [231]:
search_btn=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button/svg')
search_btn

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button/svg"}
  (Session info: chrome=97.0.4692.71)
Stacktrace:
Backtrace:
	Ordinal0 [0x0096FDC3+2555331]
	Ordinal0 [0x009077F1+2127857]
	Ordinal0 [0x00802E08+1060360]
	Ordinal0 [0x0082E49E+1238174]
	Ordinal0 [0x0082E69B+1238683]
	Ordinal0 [0x00859252+1413714]
	Ordinal0 [0x00847B54+1342292]
	Ordinal0 [0x008575FA+1406458]
	Ordinal0 [0x00847976+1341814]
	Ordinal0 [0x008236B6+1193654]
	Ordinal0 [0x00824546+1197382]
	GetHandleVerifier [0x00B09622+1619522]
	GetHandleVerifier [0x00BB882C+2336844]
	GetHandleVerifier [0x00A023E1+541697]
	GetHandleVerifier [0x00A01443+537699]
	Ordinal0 [0x0090D18E+2150798]
	Ordinal0 [0x00911518+2168088]
	Ordinal0 [0x00911660+2168416]
	Ordinal0 [0x0091B330+2208560]
	BaseThreadInitThunk [0x774BFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77B075F4+228]
	RtlGetAppContainerNamedObjectPath [0x77B075C4+180]

#### Hence clicked search icon manually

In [233]:
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand)

40

In [235]:
brands=[]
for i in brand:
    brands.append(i.text)
len(brands)
brands

['VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'kingsunglasses',
 'Elligator',
 'SRPM',
 'LAURELS',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SUNBEE',
 'New Specs',
 'VINCENT CHASE',
 'Rich Club',
 'Singco India',
 'hipe',
 'VILLAIN',
 'agera',
 'Lee Topper',
 'Johaena',
 'AISLIN',
 'Silver Kartz',
 'Mi',
 'Urbanic',
 'NuVew',
 'DEIXELS',
 'maxa',
 'IDEE',
 'AISLIN',
 'GANSTA',
 'Billion',
 'HIPPON',
 'DEIXELS',
 'Singco',
 'Fravy',
 'Flizz',
 'ROZZETTA CRAFT']

In [237]:
description=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(description)

40

In [238]:
descriptions=[]
for i in description:
    descriptions.append(i.text)
len(descriptions)

40

In [239]:
descriptions

['by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'UV Protection Round Sunglasses (50)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Mirrored, Gradient, UV Protection Aviator Sunglasses (5...',
 'Others Retro Square Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (55)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'Polarized, UV Protection, Gradient Wayfarer, Round Sung...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square, Wayfarer Sunglasses (58)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Wayfarer, Ov...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection Retro Square Sunglasses (Free Size)']

In [240]:
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price)

40

In [241]:
Price=[]
for i in price:
    Price.append(i.text)
len(Price)

40

In [242]:
Price

['₹1,179',
 '₹426',
 '₹759',
 '₹200',
 '₹188',
 '₹248',
 '₹198',
 '₹246',
 '₹383',
 '₹165',
 '₹309',
 '₹426',
 '₹449',
 '₹271',
 '₹262',
 '₹1,179',
 '₹355',
 '₹599',
 '₹178',
 '₹549',
 '₹196',
 '₹276',
 '₹156',
 '₹1,125',
 '₹246',
 '₹1,199',
 '₹499',
 '₹188',
 '₹229',
 '₹144',
 '₹1,339',
 '₹459',
 '₹209',
 '₹224',
 '₹218',
 '₹319',
 '₹498',
 '₹245',
 '₹244',
 '₹325']

In [243]:
SG=pd.DataFrame()
SG['Brand']=brands
SG['Description']=descriptions
SG['Price']=Price
SG[0:40]

,Brand,Description,Price
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,179"
1,ROZZETTA CRAFT,Gradient Round Sunglasses (Free Size),₹426
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759
3,PIRASO,UV Protection Aviator Sunglasses (54),₹200
4,kingsunglasses,UV Protection Round Sunglasses (54),₹188
5,Elligator,UV Protection Round Sunglasses (54),₹248
6,SRPM,UV Protection Wayfarer Sunglasses (56),₹198
7,LAURELS,UV Protection Wayfarer Sunglasses (53),₹246
8,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹383
9,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹165
10,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹309
11,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹426
12,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹449
13,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹271
14,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹262
15,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,"₹1,179"
16,Rich Club,UV Protection Round Sunglasses (50),₹355
17,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹599
18,hipe,"Mirrored, Gradient, UV Protection Aviator Sung...",₹178
19,VILLAIN,Others Retro Square Sunglasses (Free Size),₹549
20,agera,Gradient Aviator Sunglasses (55),₹196
21,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276
22,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",₹156
23,AISLIN,"Polarized, UV Protection, Gradient Wayfarer, R...","₹1,125"
24,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹246
25,Mi,Polarized Aviator Sunglasses (Free Size),"₹1,199"
26,Urbanic,Others Retro Square Sunglasses (Free Size),₹499
27,NuVew,"UV Protection Retro Square, Wayfarer Sunglasse...",₹188
28,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹229
29,maxa,"UV Protection, Riding Glasses Rectangular, Way...",₹144
30,IDEE,UV Protection Wayfarer Sunglasses (55),"₹1,339"
31,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (61)",₹459
32,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹209
33,Billion,UV Protection Aviator Sunglasses (57),₹224
34,HIPPON,UV Protection Wayfarer Sunglasses (55),₹218
35,DEIXELS,UV Protection Rectangular Sunglasses (Free Size),₹319
36,Singco,UV Protection Aviator Sunglasses (Free Size),₹498
37,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",₹245
38,Flizz,"UV Protection, Polarized Rectangular Sunglasse...",₹244
39,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹325

# Q.5

In [244]:
driver=webdriver.Chrome(r'C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe')

In [245]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

In [250]:
all_reviews=driver.find_elements_by_xpath('//span[@class="All 5879 reviews"]')

In [251]:
all_reviews.click()

AttributeError: 'list' object has no attribute 'click'

In [255]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating)

10

In [256]:
Ratings=[]
for i in rating:
    Ratings.append(i.text)
len(Ratings)
Ratings

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [257]:
short_review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(short_review)

10

In [258]:
Short_Review=[]
for i in short_review:
    Short_Review.append(i.text)
len(Short_Review)
Short_Review

['Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny']

In [261]:
long_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(long_review)

10

In [262]:
Long_Review=[]
for i in long_review:
    Long_Review.append(i.text)
len(Long_Review)
Long_Review

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [263]:
Apple=pd.DataFrame()
Apple['Ratings']= Ratings
Apple['Review Summary']=Short_Review
Apple['Full Review']=Long_Review
Apple

,Ratings,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,4,Good choice,So far it’s been an AMAZING experience coming ...
8,5,Highly recommended,What a camera .....just awesome ..you can feel...
9,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

# Q.6

In [264]:
driver=webdriver.Chrome(r'C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe')

In [265]:
url='https://www.flipkart.com/'
driver.get(url)

In [271]:
search=driver.find_elements_by_xpath('//div[@class="col-12-12 _2oO9oE"]')
search

In [272]:
search.send_keys("Sneakers")

AttributeError: 'list' object has no attribute 'send_keys'

In [273]:
Brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(Brand)

40

In [274]:
brand=[]
for i in Brand:
    brand.append(i.text)
len(brand)
brand

['DUNKASTON',
 'RED TAPE',
 'Magnolia',
 'URBANBOX',
 'Labbin',
 'luxury fashion',
 'Stefano Rads',
 'RED TAPE',
 'SCATCHITE',
 'Numenzo',
 'Shoes Bank',
 'ERIX',
 'BIRDE',
 'ASTEROID',
 'HOTSTYLE',
 'BIRDE',
 'Trendmode',
 'Extoes',
 'D-SNEAKERZ',
 'BIRDE',
 'ganpati traders',
 'World Wear Footwear',
 'Arohi',
 'RED TAPE',
 'RapidBox',
 'Rzisbo',
 'India hub',
 'RED TAPE',
 'TR',
 'Kraasa',
 'CLYMB',
 'GOLDSTAR',
 'Kraasa',
 'Echor',
 'ASTEROID',
 'RED TAPE',
 'ESSENCE',
 'Robbie jones',
 'Lee Won',
 'Advick']

In [278]:
pd=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(pd)

32

In [279]:
PD=[]
for i in pd:
    PD.append(i.text)
len(PD)
PD

['Sneakers For Men',
 'Classic Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 '411 Casual Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'men and boys Fashion black and red color Outdoor Canvas...',
 'Sports Running Shoes Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Trendy Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Classic Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [281]:
p=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(p)

40

In [282]:
Price=[]
for i in p:
    Price.append(i.text)
len(Price)
Price

['₹374',
 '₹1,678',
 '₹398',
 '₹220',
 '₹499',
 '₹449',
 '₹242',
 '₹1,258',
 '₹398',
 '₹426',
 '₹345',
 '₹499',
 '₹299',
 '₹499',
 '₹298',
 '₹424',
 '₹359',
 '₹948',
 '₹348',
 '₹535',
 '₹189',
 '₹199',
 '₹398',
 '₹1,258',
 '₹640',
 '₹549',
 '₹449',
 '₹1,648',
 '₹599',
 '₹444',
 '₹649',
 '₹399',
 '₹444',
 '₹499',
 '₹499',
 '₹1,678',
 '₹399',
 '₹474',
 '₹299',
 '₹828']

In [284]:
Sneakers=pd.DataFrame()
Sneakers['Brand name']= brand
Sneakers['Product Description']=PD
Sneakers['Price']=Price
Sneakers

AttributeError: 'list' object has no attribute 'DataFrame'

#### Here the length is not matching thats why data frame is not made

# Q.7

In [285]:
driver=webdriver.Chrome(r'C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe')

In [286]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [287]:
price_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_check.click()

In [288]:
colour_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
colour_check.click()

In [290]:
b=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(b)

50

In [291]:
brand=[]
for i in b:
    brand.append(i.text)
len(brand)
brand

['Puma',
 'Puma',
 'Saint G',
 'Delize',
 'Delize',
 'ROSSO BRUNELLO',
 'Skechers',
 'DAVINCHI',
 'Delize',
 'ASICS',
 'Bugatti',
 'Bugatti',
 'Saint G',
 'RARE RABBIT',
 'Delize',
 'Delize',
 'Delize',
 'Delize',
 'Geox',
 'Bugatti',
 'J.FONTINI',
 'J.FONTINI',
 'RARE RABBIT',
 'Saint G',
 'Delize',
 'Saint G',
 'Heel & Buckle London',
 'Saint G',
 'Saint G',
 'Delize',
 'Delize',
 'Saint G',
 'Geox',
 'Columbia',
 'Columbia',
 'Delize',
 'Delize',
 'Xtep',
 'J.FONTINI',
 'Delize',
 'Delize',
 'Geox',
 'DAVINCHI',
 'DAVINCHI',
 'Nike',
 'DAVINCHI',
 'Delize',
 'Pavers England',
 'DAVINCHI',
 'Geox']

In [292]:
d=driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(d)

50

In [293]:
description=[]
for i in d:
    description.append(i.text)
len(description)
description

['Men Running Shoes',
 'Men Magnify Nitro Running',
 'Men Mid-Top Chelsea Boots',
 'Block Heeled Boots',
 'Party High-Top Platform Heeled Boots',
 'Men Textured Formal Loafers',
 'Men UNO 2 Sneakers',
 'Men Textured Formal Leather Loafers',
 'Leather Party High-Top Block Heeled Boots',
 'Men Colourblocked PU Sneakers',
 'Men Running Shoes',
 'Men Black Walking Shoes',
 'Men Leather Chelsea Boots',
 'Men Leather Flat Boots',
 'High-Top Block Heeled Boots',
 'High-Top Block Heeled Boots',
 'Block Heeled Boots',
 'High-Top Block Heeled Boots',
 'Men Leather Flat Boots',
 'Men Textured Leather High-Top Flat Boots',
 'Men Textured Leather Loafers',
 'Men Textured Leather Loafers',
 'Men Textured Leather Loafers',
 'Women Leather Loafers',
 'Leather Block Heeled Boots',
 'Leather Knee High Slouch Boots',
 'Men Formal Leather Derby',
 'Leather Wedge Heeled Boots with Buckles',
 'Women Leather Heeled Boots',
 'Men Flat Boots',
 'Women Heeled Boots',
 'Suede Party High-Top Block Heeled Boots',
 'Women Leather Pumps',
 'Women REDMOND V2 TrekkingShoe',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'High-Top Block Heeled Boots',
 'Women Leather Flat Boots',
 'Men Running Shoes',
 'Men Black Leather Loafers',
 'Men Derby Flat Boots',
 'Men Leather Flat Boots',
 'Men Leather Loafers',
 'Men Formal Leather Slip-Ons',
 'Ustraa black',
 'Men PF Basketball Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Colourblocked Sneakers',
 'Men Leather Driving Shoes',
 'Men Textured Formal Leather Loafers',
 'Women Solid Leather Pumps']

In [296]:
p=driver.find_elements_by_xpath('//div[@class="product-price"]')
len(p)

50

In [297]:
price=[]
for i in p:
    price.append(i.text)
len(price)
price

['Rs. 7149Rs. 12999(45% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 9265Rs. 10900(15% OFF)',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 10999',
 'Rs. 7499',
 'Rs. 8990',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 10115Rs. 11900(15% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 7500Rs. 9500(Rs. 2000 OFF)',
 'Rs. 9999',
 'Rs. 13175Rs. 15500(15% OFF)',
 'Rs. 7990',
 'Rs. 12665Rs. 14900(15% OFF)',
 'Rs. 12665Rs. 14900(15% OFF)',
 'Rs. 8099',
 'Rs. 8099',
 'Rs. 8925Rs. 10500(15% OFF)',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 8099',
 'Rs. 7699',
 'Rs. 8490',
 'Rs. 8099',
 'Rs. 8099',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 9295',
 'Rs. 8990',
 'Rs. 7599',
 'Rs. 7499',
 'Rs. 8990',
 'Rs. 7999']

In [300]:
len(brand),len(description),len(price)

(50, 50, 50)

In [312]:
Shoes=pd.DataFrame()
Shoes['Brand']=brand
Shoes['Description']=description
Shoes['Price']=price
Shoes

AttributeError: 'list' object has no attribute 'DataFrame'

#### Tried many times but data frame code is not running.

# Q.8

In [327]:
driver=webdriver.Chrome(r'C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe')

In [328]:
url='https://www.amazon.in/'
driver.get(url)

In [329]:
search=driver.find_element_by_id("twotabsearchtextbox")
search

In [330]:
search.send_keys('laptop')

In [331]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn

In [332]:
search_btn.click()

In [333]:
check=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[2]/a/span')
check.click()

In [334]:
i7=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[13]/div/span')
i7.click()

#### Here I am not understanding how to add code for i9 laptops

In [336]:
t=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
len(t)

30

In [337]:
title=[]
for i in t:
    title.append(i.text)
len(title)
title

['ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'LG Gram 17-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 3 Yr Warranty (17Z90P-G.AH85A2, Black)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'LG Gram 17-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 3 Yr Warranty (17Z90P-G.AH85A2, Black)',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/White/2 kg), FX516PC-HN062T',
 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Gray/2 Kg), FX516PEZ-HN105TS',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Ti Laptop Graphics |15.6" FHD 144Hz IPS Display |16GB DDR4 |256GB SSD+1TB HDD |Killer Wi-Fi 6 |RGB Backlit Keyboard',
 'LG Gram 14 Ultralight Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, Win-10, Iris Xe Graphics, 14-inches (35.56 cms), Thunderbolt 4, USC -Cx2 (with Power), 999 Grams, 3 Yr Warranty (14Z90P, Black)',
 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/512GB SSD/Office 2019/Windows 10/Gray/2 Kg), FX516PM-HN175TS',
 'ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Eclipse Gray/2 kg), FX516PE-HN088TS',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'MSI GF75 Thin Gaming, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14 inches FHD Business Laptop (16GB/512GB SSD/Office 2019/Windows 10 Home/Iris Xe Graphics/Pine Grey/1.17 kg), UX425EA-KI701TS',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'LG Gram 16-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 3 Yr Warranty (16Z90P-G.AH85A2, Black)',
 'HP Pavilion 13, 11th Gen Intel Core i7, 13.3-inch(33.8 cm) FHD,IPS, Micro-Edge Laptop (16GB RAM/ 1TB SSD/ Win 10/ FPR/Audio B&O/Alexa Built-in/MS Office/ Ceramic White/ 1.24 Kg) -13-bb0078TU',
 'HP Pavilion 14, Intel 11th Gen Core i7 16GB RAM/1TB SSD 14-inch Laptop, FHD Micro-Edge Anti-Glare Display/Iris Xᵉ Graphics/Backlit KB/B&O Audio/Fingerprint Reader/ Win 11 Ready/1.41kg, 14-dv0058TU',
 'Lenovo ThinkBook Yoga 14s Intel Core i7 11th Gen 14"(35.56cm) FHD IPS 300 nits 100% sRGB Dolby Vision 2-in-1 Touchscreen Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Active Pen/1.50 kg) 20WEA01EIH',
 'ASUS Vivobook X515JA-EJ701WS Intel Core I7-1065G7 15.6 inches FHD 512 GB SSD /16 GB/Windows 11/Office 2019/1Y (Transparent Silver, 2 kg)',
 'ASUS ZenBook Duo 14 (2021), Intel Evo Core i7-1165G7 11th Gen 14 inches FHD Dual-Screen 16GB/1TB SSD/Iris Xe Graphics/Office 2019/Windows 10 Business Touch Laptop (Celestial Blue/1.57 Kg), UX482EA-HY777TS',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)',
 'ASUS ZenBook 14e (2021), 14.0-inch (35.56 cms) FHD Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/1TB SSD/Office 2019/Windows 10/2GB NVIDIA MX450 Graphics/Grey/1.29 kg), UX435EG-KK701TS',
 '(Renewed) ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HM-HN100T',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HM-HN100T',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Laptop Graphics |15.6" FHD 144Hz IPS Display |8GB DDR4 | 256GB SSD+1TB HDD | Killer Wi-Fi 6 | RGB Backlit Keyboard',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HEB-HN248T',
 'Lenovo Legion 5 11th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Gaming Laptop (16GB/512GB SSD/NVIDIA RTX 3050 4GB/120Hz Refresh Rate/Windows 10/MS Office/Backlit Keyboard/Phantom Blue/2.4Kg), 82JK007WIN',
 'Acer Nitro 5 11th Gen Intel Core i5-11400H 15.6" (39.62cms) FHD 144Hz Gaming Laptop (8 GB/512GB SSD/Win 10/4 GB Graphics/NVIDIA GeForce GTX 1650/Shale Black, 2.2 kg/RGB Backlit Keyboard) AN515-57',
 'Dell 14 (2021) Inspiron 5410 Intel i7-1165G7 14 inches 16Gb RAM, 512Gb SSD, FHD Display, Windows 10 + MSO, Backlit KB + FPR + Active Pen, 2in1 Touch Screen Laptop - Silver Metal, 1.5 kg, D560469WIN9S']

In [365]:
r=driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
len(r)

30

In [366]:
rating=[]
for i in r:
    rating.append(i.text)
len(rating)
rating

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [369]:
p=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(p)

28

In [370]:
price=[]
for i in p:
    price.append(i.text)
len(price)
price

['59,990',
 '94,999',
 '49,990',
 '94,999',
 '79,990',
 '84,990',
 '90,990',
 '89,490',
 '84,990',
 '1,09,990',
 '90,990',
 '59,990',
 '69,990',
 '89,745',
 '49,990',
 '90,999',
 '87,990',
 '89,984',
 '65,935',
 '1,19,769',
 '99,990',
 '97,742',
 '1,14,990',
 '88,490',
 '96,990',
 '1,00,990',
 '69,990',
 '93,990']

In [371]:
len(title),len(rating),len(price)

(30, 30, 28)

#### Length is not same...fault in code...data frame is not possible

# Q.9

In [372]:
driver=webdriver.Chrome(r'C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe')

In [373]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [375]:
jobs=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
jobs.click()

In [376]:
search=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search

In [377]:
search.send_keys("Data Scientist")

In [378]:
search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
search_btn

In [379]:
search_btn.click()

In [380]:
location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
location

In [381]:
location.click()

In [382]:
noida=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[8]/div/label')
noida

In [383]:
noida.click()

In [387]:
cn=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
len(cn)

10

In [388]:
company=[]
for i in cn:
    company.append(i.text)
len(company)
company

['HCL',
 'Jubilant Foodworks Limited',
 'Ameriprise Financial',
 'Paytm',
 'CHT Sapiense',
 'CHT Sapiense',
 'GI Group',
 'GI Group',
 'GI Group',
 'Cargoflash']

In [394]:
da=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
len(da)

20

In [390]:
daysago=[]
for i in da:
    daysago.append(i.text)
len(daysago)
daysago

['2d ago',
 'via hirist.com',
 '2d ago',
 'via naukri.com',
 '4d ago',
 'via naukri.com',
 '10d ago',
 'via naukri.com',
 '11d ago',
 'via iimjobs.com',
 '12d ago',
 'via iimjobs.com',
 '23d ago',
 'via iimjobs.com',
 '23d ago',
 'via iimjobs.com',
 '23d ago',
 'via iimjobs.com',
 '1d ago',
 'via hirist.com']

In [425]:
daysago[::2]

['2d ago',
 '2d ago',
 '4d ago',
 '10d ago',
 '11d ago',
 '12d ago',
 '23d ago',
 '23d ago',
 '23d ago',
 '1d ago']

In [430]:
r=driver.find_elements_by_xpath('//span[@class="body-small"]')
len(r)

10

In [431]:
rating=[]
for i in r:
    rating.append(i.text)
len(rating)
rating

['3.8', '3.9', '4.0', '3.7', '3.8', '3.8', '4.1', '4.1', '4.1', '3.8']

In [412]:
import pandas as pd

In [423]:
jobs=pd.DataFrame()
jobs['Company Name']= company
jobs['Posted days ago']=daysago
jobs['Rating']=rating
jobs

ValueError: Length of values (20) does not match length of index (10)

#### Variable reassignment is not getting (how to do that)

# Q.10

In [433]:
driver=webdriver.Chrome(r'C:\Users\Lenovo\Downloads\chromedriver_win32\chromedriver.exe')

In [434]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [435]:
salaries=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salaries.click()

In [441]:
search=driver.find_element_by_id("jobProfileSearchbox")
search

In [444]:
search.send_keys("Data Scientist")

In [447]:
cn=driver.find_elements_by_xpath('//div[@class="name"]')
len(cn)

10

In [449]:
company_name=[]
for i in cn:
    company_name.append(i.text)
len(company_name)
company_name

['Walmart\nbased on 10 salaries',
 'Ab Inbev\nbased on 22 salaries',
 'ZS\nbased on 14 salaries',
 'Fractal Analytics\nbased on 72 salaries',
 'Optum\nbased on 23 salaries',
 'UnitedHealth\nbased on 49 salaries',
 'Tiger Analytics\nbased on 27 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries',
 'Ericsson\nbased on 42 salaries']

In [450]:
exp=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
len(exp)

10

In [451]:
experience=[]
for i in exp:
    experience.append(i.text)
len(experience)
experience

['Data Scientist\n . \n3 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp']

In [452]:
avg=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
len(avg)

10

In [453]:
averagectc=[]
for i in avg:
    averagectc.append(i.text)
len(averagectc)
averagectc

['₹ 28.7L',
 '₹ 19.5L',
 '₹ 15.8L',
 '₹ 15.0L',
 '₹ 15.0L',
 '₹ 13.5L',
 '₹ 13.5L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L']

In [454]:
minctc=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
len(minctc)

20

In [459]:
min_sal=[]
for i in minctc:
    min_sal.append(i.text)
len(min_sal)
min_sal

['₹ 17.7L',
 '₹ 35.0L',
 '₹ 15.0L',
 '₹ 25.0L',
 '₹ 9.8L',
 '₹ 20.0L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 11.0L',
 '₹ 21.3L',
 '₹ 7.2L',
 '₹ 20.5L',
 '₹ 8.3L',
 '₹ 18.5L',
 '₹ 10.0L',
 '₹ 21.0L',
 '₹ 8.5L',
 '₹ 15.0L',
 '₹ 5.8L',
 '₹ 21.5L']

In [460]:
min_sal[::2]

['₹ 17.7L',
 '₹ 15.0L',
 '₹ 9.8L',
 '₹ 9.5L',
 '₹ 11.0L',
 '₹ 7.2L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L']

In [462]:
max_sal=[]
for i in minctc:
    max_sal.append(i.text)
len(max_sal)
max_sal

['₹ 17.7L',
 '₹ 35.0L',
 '₹ 15.0L',
 '₹ 25.0L',
 '₹ 9.8L',
 '₹ 20.0L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 11.0L',
 '₹ 21.3L',
 '₹ 7.2L',
 '₹ 20.5L',
 '₹ 8.3L',
 '₹ 18.5L',
 '₹ 10.0L',
 '₹ 21.0L',
 '₹ 8.5L',
 '₹ 15.0L',
 '₹ 5.8L',
 '₹ 21.5L']

In [463]:
max_sal[1:20:2]

['₹ 35.0L',
 '₹ 25.0L',
 '₹ 20.0L',
 '₹ 22.0L',
 '₹ 21.3L',
 '₹ 20.5L',
 '₹ 18.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 21.5L']

In [464]:
len(company_name),len(experience),len(averagectc),len(min_sal),len(max_sal)

(10, 10, 10, 20, 20)

#### new variable assignment is not known(How to reassign variable)...hence problem in generating data frame